**.log
**Cargo.lock
legacy/source/vstd/src
legacy/richos/user/decode_report
**.o
legacy/richos/fs/test-fs/*.vhdx
legacy/richos/fs/test-fs/*.tar
legacy/richos/fs/test-fs/*.img
legacy/richos/module/*.order
legacy/richos/module/*.ko
legacy/richos/module/*.mod
legacy/richos/module/*.dwo
**.cmd
**.d
**.symvers
**.mod
**target/
**.rust_verify
**.bin
**.log

# Worktrees for parallel agent verification (ignored)
.worktrees/
.verus-log/
