**.log
**Cargo.lock
source/vstd/src
richos/user/decode_report
**.o
richos/fs/test-fs/*.vhdx
richos/fs/test-fs/*.tar
richos/fs/test-fs/*.img
richos/module/*.order
richos/module/*.ko
richos/module/*.mod
richos/module/*.dwo
**.cmd
**.d
**.symvers
**.mod
**target/
**.rust_verify
**.bin
