[submodule "verus"]
	path = tools/verus
	url = https://github.com/ziqiaozhou/verus
	branch = verismo-main
[submodule "igvm"]
	path = tools/igvm
	url = https://github.com/ziqiaozhou/igvm-tooling
[submodule "hacl-packages"]
	path = deps/hacl-packages
	url = https://github.com/ziqiaozhou/hacl-packages
	branch = non_std
[submodule "tools/verusfmt"]
	path = tools/verusfmt
	url = https://github.com/verus-lang/verusfmt.git
[submodule "richos/snplinux"]
	path = richos/snplinux
	url = git@github.com:MSRSSP/snplinux.git
