[submodule "verus"]
	path = tools/verus
	url = git@github.com:ziqiaozhou/verus.git
	branch = verismo-main
[submodule "igvm"]
	path = tools/igvm
	url = git@github.com:MSRSSP/igvm.git
[submodule "hacl-packages"]
	path = deps/hacl-packages
	url = https://github.com/ziqiaozhou/hacl-packages
	branch = non_std
[submodule "snplinux"]
	path = richos/snplinux
	url = https://github.com/MSRSSP/snplinux
