[unstable]
build-std-features = ["compiler-builtins-mem"]
build-std = ["core","alloc", "compiler_builtins"]
unstable-options = true

[build]
target = "target.json"
rustc = "../tools/verus-rustc/target/release/verus-rustc"
incremental = true

[profile.dev]
incremental = true
debug-assertions = true

[profile.release]
incremental = true
debug-assertions = false

[env]
VERUS = { value = "../tools/verus/source/target-verus/release/verus", relative = true }
