[workspace]
members = [
    "verismo_main",
    "verismo",
    "verismo_macro",
]

# the profile used for `cargo build`
[profile.dev]
panic = "abort" # disable stack unwinding on panic
incremental = true

# the profile used for `cargo build --release`
[profile.release]
panic = "abort" # disable stack unwinding on panic
incremental = true
debug = false
